<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Show Data Table</h2>          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    {% if key1 %}
    <tbody>
        {% for i in key1 %}
        <tr>
            <td>{{i.Name}}</td>
            <td>{{i.Email}}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>

</body>
</html>